.h1-gestion-categories {
    text-align: center;
    margin: 1rem;
}

.lien-category {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

a.create-category {
    text-align: center;
    margin: 2rem;
    border: solid black 1px;
    padding: 0.2rem 0.5rem;
}

