{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Connection{% endblock %}

{% block body %}
    <header class='header-login'></header>
    <main class='main-login'>
        <h1>Connection</h1>
        <div class='carte-login'>
            <div class='login-carte-gauche'>
                <h2>Vous etes de retour</h2>
            </div>
            <div class='login-carte-droite'>
                <form method="post">
                    <div class='login-input'>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder='Email'>
                    </div>
                    <div class='login-input'>
                        <input type="password" name="password" id="inputPassword" autocomplete="current-password" placeholder='Mot de passe' required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
                    <div class='button-login'>
                        <button  type="submit">Connection</button>
                    </div>
                </form>
                <a href="{{ path('app_register') }}">Créer un compte</a>
            </div>
        </div>
    </main>  
{% endblock %}
