.header-sousCat {
    background-color: var(--blue);
    padding: 3.8rem;
}

.sousCat-main {
    margin: 1rem 4rem;
}

.sousCat-main h1 {
    font-family: var(--title);
    font-size: 6rem;
    color: black;
    text-align: center;
}

.sousCat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.sousCat-grid a {
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin: 1.5rem 1.5rem;
    text-decoration: none;
}

.sousCat-grid a div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sousCat-grid a div h3 {
    display: none;
}

.sousCat-grid a div:hover {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 17, 24, 0.55);
    transition: 0.3s;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sousCat-grid a div:hover h3 {
    display: block;
    font-family: var(--text);
    font-size: 1.9rem;
    color: black;
    background-color: var(--beige);
    padding: 0.5rem;
    border-radius: 20px;
    text-align: center;
    width: 70%;
}